**/*.tsbuildinfo
**/node_modules/
**/package-lock.json
**/.git
**/.github
**/test
**/docs
**/coverage
**/dist

**/.vscode
**/.idea
**/.cursor
**/.editorconfig

.env
.env.*
!.env.example

**/npm-debug.log*
**/pnpm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

**/*.pem
**/README.md
**/LICENSE
**/CODE_OF_CONDUCT.md
